<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
            <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'></link>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css" />

        {% endblock %}
        {% block css %}{% endblock %}
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script src="/assets/js/bootstrap.bundle.min.js"></script>
        {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"/></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
        {% block js %}{% endblock %}
    </head>
    <body>
        {% block navigation %}
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#e3f2fd;">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{ path('home') }}">
                                    Players
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{ path('team') }}">
                                    Teams
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('sell-player') }}">
                                    Sell Player
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('buy-player') }}">
                                    Buy Player
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('transaction') }}">
                                    Transaction
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} col-md-6 offset-md-3 col-xs-12" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block content %}{% endblock %}
        {% block script %}{% endblock %}
    </body>
</html>